APP_NAME=Ci3
APP_ENV=development
BACKEND_URL=

#log level (application.config.config)
LOG_THRESHOLD=0

#database connection (application.config.database)
DB_CONNECTION=mysqli
DB_HOST=codeigniter_react_mysql
DB_PORT=3306
DB_DATABASE=ci_react_db
DB_USERNAME=ci
DB_PASSWORD=ci_react
DB_DEBUG=true

VERCEL_TOKEN=