.DS_Store

!/backend/application/cache/index.html
/backend/application/cache/sessions/*
!/backend/application/cache/sessions/index.html

/backend/application/logs/*
!/backend/application/logs/index.html

!/backend/application/*/.htaccess

/backend/user_guide_src/build/*
/backend/user_guide_src/cilexer/build/*
/backend/user_guide_src/cilexer/dist/*
/backend/user_guide_src/cilexer/pycilexer.egg-info/*
/backend/vendor/

# Ignore all files that start with .env
.env*

# Exclude the .env.sample file
!.env.sample

# IDE Files
#-------------------------
/nbproject/
.idea/*

## Sublime Text cache files
*.tmlanguage.cache
*.tmPreferences.cache
*.stTheme.cache
*.sublime-workspace
*.sublime-project
/tests/tests/
/tests/results/

!.htaccess
!.gitkeep

/codeigniter-react-db-data
.vercel
